* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body {
	font: 13px Helvetica, Arial; 
}


form {
	background-color: #41729F;
	padding: 3px; 
	position: fixed; 
	width: 100%; 
	max-height: 100%;
}

form input {
	border: 0; 
	padding: 10px; 
	width: 80%; 
	margin-right: .5%; 
}

form button {
	width: 18%; 
	background: #274472;
	color: white;
	border: 1px solid white;
	padding: 10px;

	}
#messages {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%;  
	float:left;
}

#messages li {
	padding: 5px 10px; 
}

#messages li:nth-child(odd) {
	background: #eee; 
}

#userlists{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%;  
	float:left;
}

#userlists li {
	padding: 5px 10px;
}

#userlists li:nth-child(odd) {
	background: #eee; 
}

.testAvaible{
	float: right;
	border: 1px solid blue;
}

ul {
  display: flex;
  flex-direction: column-reverse;
}

#wrapper {
  display: flex;
  height: 50%;
  border: 1px solid white;
}

#wrapper1 {
  display: flex;
  flex: auto;
  height: 75vh;
  min-width: 350px;
  border: 1px solid white;
}



#clientUSER{
	text-align: center;
  background-color: #C3E0E5;
  width: 50%;
  border-style: solid;
}

#ads {
  background-color: #C3E0E5;
  order: 2;
  width: 50%;
  border-style: solid;
}

#content {
  text-align: left;
  background-color: #C3E0E5;
  width: 50%;
  border-style: solid;
  overflow-y: scroll;
}



#header {
	flex: none;
  height: 15%;
  text-align: center;
  background-color: #41729F;
  min-width: 350px;
}

