* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body {
	font: 13px Helvetica, Arial; 
}

html,
body {
	height: 100%;
}

form {
	background-color: #41729F;
	padding: 3px; 
	position: fixed; 
	width: 100%; 
	max-height: 20%;
}

form input {
	border: 0; 
	padding: 10px; 
	width: 80%; 
	margin-right: .5%; 
}

form button {
	width: 18%; 
	background: #274472;
	color: white;
	border: 1px solid white;
	padding: 10px;

}


#messages {
	height: 100%;
  width: 100%;
  overflow-y: auto;
  border: 1px solid white;
  display: flex;
  flex-direction: column-reverse;
}

#messages div {
	padding: 5px 10px; 
}

#messages div:nth-child(odd) {
	background: #eee; 
}


#userlists{
	height: 100%;
  width: 100%;
  overflow-y: auto;
  border: 1px solid white;
  display: flex;
  flex-direction: column-reverse;
}

#userlists div {
	padding: 5px 10px;
}

#userlists div:nth-child(odd) {
	background: #eee; 
}

ul {
  display: flex;
  flex-direction: column-reverse;
}

#wrapper {
  display: flex;
  height: 50%;
  border: 1px solid white;
  min-height: 7%;
}

#wrapper1 {
  display: flex;
  flex: auto;
  height: 77%;
  min-width: 350px;
  border: 1px solid white;
  align-items: stretch;
}



#clientUSER{
	text-align: center;
  background-color: #C3E0E5;
  min-height: 50px;
  width: 50%;
  border-style: solid;
  vertical-align:bottom;
}

#ads {
  background-color: #C3E0E5;
  order: 2;
  width: 50%;
  border-style: solid;
}

#content {
  text-align: left;
  background-color: #C3E0E5;
  width: 50%;
  border-style: solid;
  overflow-y: scroll;
}



#header {
	flex: none;
  max-height: 20%;
  text-align: center;
  background-color: #41729F;
  min-width: 350px;
}

#footer {
	flex: none;
  height: 6%;
  max-height: 20%;
  text-align: center;
  background-color: #41729F;
  min-width: 350px;
}

