* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body {
	font: 13px Helvetica, Arial; 
}

form {
	background: #000; 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	height: 6%;
}

form input {
	border: 0; 
	padding: 10px; 
	width: 89%; 
	margin-right: .5%; 
}

form button {
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px;

	}
#messages {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%;  
	float:left;
}

#messages li {
	padding: 5px 10px; 
}

#messages li:nth-child(odd) {
	background: #eee; 
}

.testAvaible{
	float: right;
	border: 1px solid blue;
}

ul {
  display: flex;
  flex-direction: column-reverse;
}

#wrapper {
  display: flex;
  height: 69%;
}

#clientUSER{
	text-align: center;
  background-color: #C3E0E5;
  width: 50%;
  border-style: solid;
}

#content {
  text-align: left;
  background-color: #C3E0E5;
  width: 50%;
  border-style: solid;
  overflow-y: scroll;
}

#ads {
  background-color: #C3E0E5;
  order: 2;
  width: 50%;
  border-style: solid;
}

#header {
  height: 25%;
  text-align: center;
  background-color: #41729F;
}

